
#main-content {
    
    width: 90%;
    min-width: 900px;
    max-width: 1600px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    position: static;
    font-family: 'Noto Sans', sans-serif;
    grid-template-columns: 60% 1fr;
}

header {
    padding-top: 2rem;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;

}

#current-section{
    height: 50%;
    width: 100%;
    min-height: 500px;
    padding: 20px;
    overflow-y: auto;
    border: solid 4px;
    border-radius: 20px;
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 6;
    font: 16px Times;
}

#no-more-selecting-warning{
    
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
    visibility: hidden;
    font-size: 70px;
    background-color: red;
    width: fit-content;
    height: fit-content;
    border: 4px solid black;
    border-radius: 20px;

}

.fade {
    animation: fade 1000ms;
}

@keyframes fade {
    from {
        visibility: hidden;
        opacity: 0;
      }
      1% {
        visibility: visible;
        opacity: 0;
      }
      25% {
        visibility: visible;
        opacity: 1;
      }
      75% {
        visibility: visible;
        opacity: 1;
      } 
      99% {
        visibility: visible;
        opacity: 0;
      }
      to {
        visibility: hidden;
        opacity: 0;
      }
}

.no-more-sections {
    width: 100%;
    font-size: xx-large;
    text-align: center;
}

#selectable{
    
    word-wrap: break-word;
    font-size: 16px;
    
}


#current-section > span:hover{
    background-color:chartreuse;
}

#instructions {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;

}

#buttons {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 2;
    grid-row: 3;
     
}

#buttons-title{
    
    grid-row: 1;
    text-align: center;
    border-bottom: 2px black solid;

}

.btn{
    margin-top: 10px;
}

#submit {
    grid-row: 2;
}

#increase-text-size {
    grid-row: 3;
}

#decrease-text-size {
    grid-row: 4;
}