
#main-content {
    
    width: 90%;
    min-width: 900px;
    max-width: 1600px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    position: static;
    border: solid #000000;
    grid-template-columns: 60% 1fr;
}

header {

    text-align: center;
    font: bold 40px Arial;
    grid-column-start: 1;
    grid-column-end: 3;

}

#current-section{
    height: 50%;
    min-height: 500px;
    padding: 5px;
    margin-left: 5%;
    margin-right: auto;
    overflow-y: auto;
    border: black solid 4px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
}

#selectable{
    
    word-wrap: break-word;
    font-size: 16px;
    
}

#current-section > span:hover{
    background-color:chartreuse;
}

#instructions {

    text-align: center;
    font: bold 20px Arial;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;

}

#buttons {
    display: grid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2;
    grid-row-start: 3;

}

#next-section {
    grid-row: 1;
}

#submit {
    grid-row: 3;
}

#increase-text-size {
    grid-row: 5;
}

#decrease-text-size {
    grid-row: 7;
}